#nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

li {
  display: inline-block;
}

.page-link {
  float: right;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}
